body, html {
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
}

:root{
    --font-title: Spinnaker;

    --color-main: rgba(255, 255, 255, 0.945); 
}



/*-------------------------------------LAYOUT STYLES--------------------------*/







.background__container{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background: linear-gradient(120deg, #ffffff 0%, #e4e8e9 100%);
    background-size: contain;
    justify-content: center;
    align-items: center;
    
}

.casco {
    width: 10%;
    height: 40%;
    margin-right: 30px;
    background-size: cover;

    position: absolute; 
    left: 30%;
    top: 30%;
    transform: translateX(0) scale(1);
    animation-name: moveAndEnlargeLeft;
    animation-duration: 1.5s; 
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
    
}

@keyframes moveAndEnlargeLeft {
    0% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-355%) scale(2.5);
        opacity: 0.90;
    }
}

.aquiles{
    position: absolute; 
    top: 40%;
    right: 40%;
    transform: translateX(0);
    animation-name: moveAndDisappearRight;
    animation-duration: 1.5s; 
    animation-fill-mode: forwards;
    opacity: 1;
    width: 200px;
    height: 200px;
    animation-delay: 0.7s;
}

@keyframes moveAndDisappearRight {
    0% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(300%) scale(1);
        opacity: 0;
    }
}
 




/*-----------------------------------NAV STYLES--------------------------*/







  /* London y base*/
.hero__container{ 
    height: 85vh;
    width: 88%;
    box-shadow: 5px 5px 45px 15px rgba(63, 62, 62, 0.5);
    justify-items: center;
    border-radius: 20px;
    position: relative;
    opacity: 0; 
    animation: aparecer 1s linear forwards; 
    animation-delay: 1.5s;
}

@keyframes aparecer {
from {
  opacity: 0;
}
to {
  opacity: 1; 
}
}

.hero__nav{

    position: fixed;
    width: 88%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 0px 20px;
    box-sizing: border-box;
    z-index: 1;           /*para que quede por encima del menu*/

}

.nav__logo{
    margin-left: -0.2rem;
    margin-top: 0.4rem;
    width: 5rem;
    height: 110%;
}

.logo__img{
    width: 6rem;
    height: 100%;
    object-fit: contain;
    
}

.nav__links{
    display: flex;
    gap: 1rem;
    width: 25rem;
    margin-right: 3.2rem;
    margin-top: 1.2rem;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    
}

.nav__link{
    text-decoration: none;
    color: #F0E6E6;
    padding: 1rem;
    border-radius: 10px;

    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    transition: all 300ms ease-in-out;
    position: relative; /*para ubicar la barra del efecto */
}


.nav__link::before{ /*para crear el elemento de la barra que va a aparecer cuando paso*/
    content: "";
    height: 0.12rem;
    width: 0;
    background-color: #F0E6E6;
    position: absolute;
    bottom: 0.7rem;
    left: 0.9rem;
    opacity: 0;
    transition: 500ms;
  }
  
  .nav__link:hover::before{/*aca hago que crezca la barra que cree antes en before*/
    width: 75%;
    background-position: center;
    opacity: 1;
  }







  /*---------------------------------STYLES MENU-------------------------------*/






.hero__main{
    position: absolute;
    height: 85vh;
    width: 100%;
    justify-items: center;
    
    
}

.main__london,
.main__pink,
.main__blanc {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}


.main__london{
    background: linear-gradient(to right, var(--color-main) 50%, #161616f1 50%);
    padding: 20px;
    
}

.section__left{
    width: 29.59288rem;
    height: 14.38856rem;
    
}

.main__tittle{
    position: absolute;
    top: 5%;
    color: #222020;
    font-family: var(--font-title);
    font-size: 7.025rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    animation: entrytittle 2s ease 1.5s 1 normal forwards;
}

@keyframes entrytittle {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.main__img{
    width: 10.1875rem;
    height: 31.8125rem;

    position: absolute;
    top: -5%;
    left: 43%; 
    flex-shrink: 0;
    z-index: 1;
 
    animation: entryimg 1.3s ease 1 normal forwards;
    animation-delay: 1.5s;

    transition: all 200ms ease-in;

}

@keyframes entryimg {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


.main__img:hover{
    transform: scale(1.1);
    top: -6%;
    
}


.main__img--reflect{
    width: 11.1875rem;
    height: 5.8125rem;
    
    position: absolute;
    top: 82%;
    left: 42%; 
    
    z-index: 0;
    animation: entryreflect 2s ease 1 normal forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes entryreflect {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.description__paragraph{
    width: 24.4375rem;
    height: 20.71544rem;
    color: #faf3f3;

    font-family: 'Roboto Slab', serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4rem;

    position: absolute;
    top: 25%;
    left: 62%;
    
    animation: entrytext 2s ease  1 normal forwards;
    animation-delay: 1.5s;
  }

  @keyframes entrytext {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

 /* .main__btn{
    border-radius: 13%;
    border: 1px solid #161616f1;
    background-color: #161616f1;
    color: #faf3f3;
    padding: 0.7rem;
    box-shadow: 5px 5px 10px 1px rgba(29, 28, 28, 0.815);
    font-family: 'Roboto Slab', serif;
    font-size: 0.9rem;

    position: absolute;
    left: 62%;
    top: 80%;
  }

  .main__btn:active{
    border: 1px solid rgba(253, 245, 245, 0.945);
    background-color: rgba(252, 243, 243, 0.945);
    color: #0c0c0c;
  }*/


   /*PINK*/ 

.main__pink{ 
    background: linear-gradient(to right, var(--color-main) 50%, #5c0606e1 50%);
    visibility: hidden; /* para cambiar despues en js y poner que se vea*/
    opacity: 0; /* para cambiar despues en js y poner que se vea*/
   
}
 
.main__img--reflect--pink{
    position: absolute;
    left: 42.8%;
    top: 87%;
}

.main__tittle--pink{  
    color: #5c0606e1;

}

    /*BLANC*/

     
.main__img--reflect--blanc{
    width: 10.3rem;
    position: absolute;
    left: 42.8%;
    top: 87%;
}
    
.main__tittle--blanc{
    color: #525455;
    font-size: 5.825rem;
    top: 9%;
   
 }

.main__blanc{ 
    background: linear-gradient(to right, var(--color-main) 50%, #666869 50%);
    visibility: hidden; /* para cambiar despues en js y poner que se vea*/
    opacity: 0; /* para cambiar despues en js y poner que se vea*/
}

/* ------------------- CONTACTO STYLES ----------------- */

.contactoContainer {
    
    position: absolute;
    width: 80vw;
    height: 70vh;
    left: 4%;
    top: 10%;
    background: #161616f1;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.derecha {
    background: url("imagenes/Charles_antoine.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    
}

.izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 51.2%;
    height: 100%;
}

input[type=text], textarea {
    width: 80%;
	outline: none;
	padding: 1rem 1rem;
	font-size: 1.0rem;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin-bottom: 22px;
    border: 0;
    box-shadow: 0px 0px 3px 0px whitesmoke; 
    background-color: transparent;
    transition: 0.5
    
}

input[type=submit] {
    background-color: whitesmoke;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.izquierda h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

input[type=text]:hover, textarea:hover {
    transform: scale(1.1);
}




/* ----------- NOSOTROS ----------- */

.drinkContainer {
    position: absolute;
    width: 80vw;
    height: 70vh;
    left: 4%;
    top: 10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./imagenes/drinkBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
}

.textContainer {
    position: absolute;
    width: 80vw;
    height: 70vh;
    left: 4%;
    top: 10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D9D9D9;
    filter: opacity(70%);
}






/*-----------------------Footer main-------------------------------------*/







.footernav__container{
    
    width: 11.1875rem;
    height: 1.1rem;
    padding: 0.2rem;
    gap: 2rem;

    display: flex;
    justify-content: center;
    
    position: absolute;
    top: 94%;
    left: 42.2%;

}

.footernav__btn{
    border-radius: 50%;
    border: none;
    background-color: #8a7f7fea;
    padding: 0.65rem;
    box-shadow: 5px 5px 10px 1px rgba(63, 62, 62, 0.5);

    
}